:root {
  --clr-main: rgba(33, 0, 2, 1);
  --clr-accent: rgba(255, 175, 0, 1);
  --font-main: "Verlag A", "Verlag B", "Verlag", "Arial", system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  background-color: var(--clr-main);
  color: var(--clr-accent);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

img {
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  shape-margin: 0.75rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
