/* Parallax */

.parallax {
  grid-template-areas: "stack";
  background: var(--clr-accent);
}

.parallax > * {
  grid-area: stack;
  /* animation: parallax linear;
  animation-timeline: scroll(root); */
}

/* TODO: update and fix these speeds */

.parallax__layer0 {
  --parallax-speed: 10;
}

.parallax__layer1 {
  --parallax-speed: 9;
}

.parallax__layer2 {
  --parallax-speed: 8;
}

.parallax__layer3 {
  --parallax-speed: 7;
}

.parallax__layer4 {
  --parallax-speed: 6;
}

.parallax__layer5 {
  --parallax-speed: 5;
}

.parallax__layer6 {
  --parallax-speed: 4;
}

.parallax__layer7 {
  --parallax-speed: 3;
}

.parallax__layer8 {
  --parallax-speed: 2;
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * 200px));
  }
}

/* Content */

.content {
  max-width: 900px;
  margin: 0 auto;
}

.content__title {
  font-weight: 300;
  letter-spacing: 10px;
  padding-bottom: 50px;
}

.content__ctas {
  --_button-background: var(--clr-accent);
  --_button-text: var(--clr-main);
  --_button-hover-background: white;
  grid-template-columns: repeat(2, 325px);
  gap: 40px 50px;
  margin-bottom: 90px;
}

.content__ctas .button {
  height: 32px;
}

/* TO DO: conversion to REMS */

.content__subtitle {
  font-size: 30px;
  text-align: left;
  line-height: 45px;
  max-width: 700px;
  margin: 0 auto;
}

/* TO DO: make 325px a repeated variable */

.content__copy {
  display: grid;
  grid-template-columns: repeat(2, 325px);
  margin: 0 auto;
  text-align: left;
  gap: 50px;
  font-size: 20px;
  font-weight: 300;
  line-height: 2rem;
}
